.link-logo,
.footer-logo {
    font-family: "raleway", sans-serif;
    font-style: normal;
    font-weight: var(--title-logo-font-weight);
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: black;
    text-decoration: none;
    transition: var(--animation-hover-focus);
}

.link-logo {
    margin-right: 93px;
}

.web {
    color: var(--logo-focus-hover-color);
}

.link-logo:focus {
    color: var(--logo-focus-hover-color);
}